<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Personal_organizer.My.MySettings.PO_Data_ConnectionString"
            connectionString="Data Source=MARTIN-DESKTOP\SQL_SERVER_2014;Initial Catalog=PO-Data;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>